# Visual Studio and .NET files
/dotnet-back-end/ktdi-app/appsettings.Development.json
/dotnet-back-end/ktdi-app/appsettings.json
/dotnet-back-end/ktdi-app/.appsettings.Production.json
/dotnet-back-end/ktdi-app/appsettings.Staging.json

# Binaries and build artifacts
/dotnet-back-end/ktdi-app/[Bb]in/
/dotnet-back-end/ktdi-app/[Oo]bj/

# User-specific files
/dotnet-back-end/ktdi-app/*.user
/dotnet-back-end/ktdi-app/*.suo

# Visual Studio and Visual Studio Code settings
/dotnet-back-end/ktdi-app/.vs/
/dotnet-back-end/ktdi-app/.vscode/
.idea

# Node.js and Angular files
/node-back-end/node_modules/
/front-end/node_modules/
/front-end/dist/
/front-end/.angular/
/front-end/.vscode/
npm-debug.log*

# Secret
.env
/springboot-back-end/src/main/resources/application.properties
/front-end/src/environments/
